/* ========== main divs =========== */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h2 {
    font-size: 1.1em;
}

body {
    background-image: url(../images/background.png);
    background-repeat: repeat;
    font-family: handwriting, calibri; 
}

#container {
    width: 1200px;
    margin: auto;
    padding-bottom: 0px;
}

#leftDiv {
    display: inline-block;
    width: 20%;
    padding-left: 10px;
}

#rightDiv {
    display: inline-block;
    width: 75%;
    //background-color: green;
    vertical-align: top;
}

@font-face {
    font-family: "handwriting";
    font-weight: bold;
    src: url('../font/handwriting.ttf');
}

footer {
	font-family: calibri, arial;
	font-size: 0.7em;
	background-color: #045FB4;
	height: 50px;
	color: white;
	text-align: center;
}

#contact {
	text-decoration: underline;
}

/* ========== /main divs =========== */



/* ========== left div =========== */
#pic {
    height: auto;
}
/* ========== /left div =========== */



/* ========== right div =========== */
#banner {
   font-size: 80px; 
   font-weight: bold;
   text-decoration: none !important;
   /* TODO : supprimer le texte souligné sur cv.inc.php */
   color: #000000;
}

#content {
    height: auto;
    min-height: 800px;
}
/* ========== /right div =========== */

