#projects {
    //background-color: lightgreen;
    width: 800px;
    min-height: 800px;
    height: auto;
    margin-left: 90px;
    display: inline-block;
    z-index: 0;
}

.oneProject {
    display: inline-block;
    padding-top: 10px;
    width: 210px;
    height:240px;
    background-color: #ffffff;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 3px 3px 7px grey; 
    cursor: pointer;
}

#img {
    padding-top: 10px;
    width: 210px;
    height:240px;
    background-color: #ffffff;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    box-shadow: 3px 3px 7px black;
}

#description {
    display: inline-block;
    width: 570px;
    margin-left: 20px;
    vertical-align: top;
}

#description h2 {
    display: inline;
}

#modules h4 {
    margin-top: -10px;
}

#modules p {
    margin-top: -20px;
}

#description span{
    cursor: pointer;
}

.oneProject img, #img img :not(#imgEpingle) {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 180px;
    height: 180px;
    margin-top: 5px; 
}

#imgProjet{
    position: relative;
    z-index: 1;
    margin-top: 0px !important;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 180px;
    height: 180px;
}

#projectsOver {
    font-family: 'calibri';
    background-image:url(../images/kraft.jpg);
    background-repeat: repeat;
    width: 600px;
    min-height: 800px;
    z-index: 1;
    width: 850px;
    margin-top: -980px;
    margin-left: 1000px;
    display: none;
    position: absolute;
    padding-top: 60px;
    padding-left : 20px;
    padding-right : 10px;
    padding-bottom: 20px;
}

td, th {
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    border-collapse: collapse !important;
}


