#container {
    background-color: black;
    font-family: 'visitor';
    height: 53%;
    margin-left: -0.5em;
    margin-top: -15%;
    position: absolute;
    opacity: 0.75;
    top: 50%;
    width: 100%;
}

#content
{
    height: 100%;
    margin-top: 23%;
}

#containerCv
{
    background-color: black;
    margin-left: -0.5em;
    margin-top: 30.8%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    position: absolute;
    width: 100%;
    
}

#containerImg {
    width: 820px;
    background-color: #ffffff;
    box-shadow: 3px 3px 7px grey;
    margin: auto;
}

img:not(#picImg) {
    margin-left: 10px;
    margin-top: 10px;
    border-bottom-style: solid;
    border-color: #ffffff;
    width: 800px;
}

p{
    margin-top: -1.5em;
}


