#container {
    background-color: black;
    font-family: 'visitor';
    height: 65%;
    margin-left: -0.5em;
    margin-top: -15%;
    position: absolute;
    opacity: 0.75;
    top: 50%
}

#content
{
    height: 100%;
    margin-top: 10%;
}
